.git
.github
.devcontainer
node_modules
.env
.env.*
!.env.example
*.pem
*.log
logs/
database/
tmp/
dist/
build/
.DS_Store
.cursor
*.md
deploy/certbot
UtthanFoundation.pem
.gitignore
.dockerignore
DevDockerfile
