PORT=3000
ENV_MODE=development

# Development (local): use sqlite
DB_DIALECT=sqlite

# Production (deploy): use postgres
# ENV_MODE=production
# DB_DIALECT=postgres
# DB_HOST=localhost
# DB_PORT=5432
# DB_NAME=utthan
# DB_USER=utthanuser
# DB_PASSWORD=utthanpassword
# DB_SSL=true
